body{
    font-family: 'Oswald', sans-serif;
}
.top{
    height: 370px;
    background-color: rgb(244, 254, 255);
}
.nike{
    color: #ff9466;
    font-size: 28px;
    font-weight: 700;
}
.color-text{
    color: rgb(25, 255, 113);
    font-weight: 700;
}
p{
    color: rgb(87, 87, 87);
}
.my-btn{
    background-color: #FA804C;
}
.my-image{
    width: 95%;
    margin: 16px auto;
}
.my-image1{
    width: 85%;
    margin: 24px auto;
}
.my-card{
    border: 0;
    border-radius: 0.1em; 
    background-color: rgb(223, 223, 223);
    box-shadow: 2px 5px 5px rgb(211, 211, 211);
}
.card-body{
    background-color: white;
}
.my-card-footer{
    border: 0;
    background-color: white;
}
.price{
    color: tomato;
    font-weight: 700;
}
.my-card2{
    background-color: white;
    border: 0;
    border-radius: 1em;
    box-shadow: 2px 5px 5px rgb(211, 211, 211);
}
.bottom-image{
    width: 80px;
    height: 80px;
}
.last-image{
    width: 45%;
    height: 75%;
}
.info{
    margin-left: 20px;
}
footer{
    height: 200px;
    color: honeydew;
    background-color: rgb(47, 255, 82);
}
.submit{
    background-color: rgb(0, 117, 172);
    padding: 1px 10px;
}
.copy{
    font-size: 15px;
    color: gray;
}


@media screen and (max-width: 600px) {
    .top{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
        background-color: white;
    }
    .top img{
        margin-left: 18%;
    }
    .bottom{
        display: flex;
        flex-direction: column-reverse;
    }
    .last-image{
        width: 80%;
        margin-bottom: 20px;
    }
    footer{
        height: 300px;
        display: flex;
        flex-direction: column;
    }
  }